function Main.increment 1
push argument 0
pop pointer 0
push argument 1
push constant 1
add
return

function Main.add_two_num 2
push argument 0
pop pointer 0
push argument 1
push argument 2
add
pop local 0
push local 0
return

function Main.main 5
push argument 0
pop pointer 0
push constant 5
pop local 0
push constant 3
pop local 1
push local 0
push local 1
call Main.add_two_num 2
pop local 2
push local 2
call Main.increment 1
pop local 3

